/* src/App.css */
.App {
  text-align: center;
  padding: 10px;
}

.logo {
  margin-right: auto;
  width: 80px;
  height: 80px;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ml-auto {
  margin-left: auto !important;
}

.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  padding: 20px;
}


.main-content {
  padding: 20px;
}

.height{
  height: 100%;
}

.captioncolor{
  color: black !important;
}

.carousel{
  /* background-color: cadetblue; */
  /* height: 500px; */
  /* padding: 10px; */
}

table, th, td {
  border:1px solid black;
}

.sectionHeading{
  text-align: center;
  text-decoration: underline cadetblue;
  color: cadetblue;
  font-weight: bolder;
  font-size: 40px;
}

/* .sections{
  padding: 20px;
} */

.buttons{
  background: cadetblue !important;
}

.yarn{
  position: relative;
  background-image: url('output-onlinepngtools.png'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  color: black; /* Adjust text color to be visible against the background */
  padding: 20px; /* Adjust padding as needed */
  font-weight: bold;
  font-size: large;
}

.yarn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity by changing the '0.5' value */
}

.rmc{
  position: relative;
  background-image: url('rmc_background.png'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  color: black; /* Adjust text color to be visible against the background */
  padding: 20px; /* Adjust padding as needed */
  font-weight: bold;
  font-size: large;
}

.rmc::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1); /* Adjust the opacity by changing the '0.5' value */
}

.loans{
  position: relative;
  background-image: url('loans_background.png'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  color: black; /* Adjust text color to be visible against the background */
  padding: 20px; /* Adjust padding as needed */
  font-weight: bold;
  font-size: large;
}

.loans::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity by changing the '0.5' value */
}


.navs{
  padding-top: 14px !important;
}

#basic-nav-dropdown{
  padding-top: 14px !important;
}

.about{
  font-size: large;
  font-weight: bold;
}

.navbutton{
  background-color: white !important;
  color: black !important;
  font-weight: bold !important;
  border: none !important;
}

#contact{
  background-color: cadetblue;
  color: black !important;
  padding: 10px;
}

.formheading{
  color: cadetblue;
}

.phone-link {
  color: white; /* Initial color */
  transition: color 0.3s; /* Add a smooth transition effect */
}

.phone-link:hover {
  color:darkgray; /* Color on hover */
}