/* src/App.css */
.App {
  text-align: center;
  /* padding: 10px; */
}

.logo {
  margin-right: auto;
  width: 300px;
  height: 100px;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ml-auto {
  margin-left: auto !important;
}

.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  padding: 20px;
}


.main-content {
  padding: 20px;
}

.height{
  height: 100%;
}

.captioncolor{
  color: black !important;
}

.carousel{
  /* background-color: cadetblue; */
  /* height: 500px; */
  /* padding: 10px; */
}

table, th, td {
  border:1px solid black;
}

.sectionHeading{
  text-align: center;
  text-decoration: underline cadetblue;
  color: cadetblue;
  font-weight: bolder;
  font-size: 40px;
}

/* .sections{
  padding: 20px;
} */

.buttons{
  background: cadetblue !important;
  border: 0 !important;
}

.loan{
  position: relative;
  /* background-image: url('loans_background.png');  */
  /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  color: black; /* Adjust text color to be visible against the background */
  padding: 20px; /* Adjust padding as needed */
  /* font-weight: bold; */
  font-size: medium;
  background-color: #f4f4f4;
}

.loan::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.2);  */
  /* Adjust the opacity by changing the '0.5' value */
}

.subsidy{
  position: relative;
  /* background-image: url('food_background.png');  */
  /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  color: black; /* Adjust text color to be visible against the background */
  padding: 20px; /* Adjust padding as needed */
  /* font-weight: bold; */
  font-size: medium;
  background-color: #f4f4f4;
}

.subsidy::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.1);  */
  /* Adjust the opacity by changing the '0.5' value */
}

.aboutUs{
  position: relative;
  /* background-image: url('logo_background.png');  */
  /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  color: black; /* Adjust text color to be visible against the background */
  padding: 20px; /* Adjust padding as needed */
  /* font-weight: bold; */
  font-size: medium;
  /* border-bottom: 1px solid cadetblue; */
  background-color: #f4f4f4;
}

.aboutUs::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.2);  */
  
  /* Adjust the opacity by changing the '0.5' value */
}

.navs{
  padding-top: 14px !important;
}

/* #basic-nav-dropdown{
  padding-top: 14px !important;
} */

.about{
  ffont-size: medium;
  font-weight: bold;
}

.navbutton{
  background-color: cadetblue !important;
  color: black !important;
  font-weight: bold !important;
  border: none !important;
  padding: 0px !important;
  margin-left: 10px !important;
}

#contact{
  /* background-color: cadetblue; */
  color: cadetblue !important;
  padding: 10px;
}

.formheading{
  color: cadetblue;
}

.phone-link {
  color: cadetblue;/* Initial color */
  transition: color 0.3s; /* Add a smooth transition effect */
}

.phone-link:hover {
  color:darkgray; /* Color on hover */
}

.navigation {
  align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

#home {
  height: 530px;
}

.nav{
  border-bottom: 1px solid cadetblue;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: cadetblue !important; /* Specify the desired background color */
  color: white !important; /* Specify the desired text color */
}

.iconHeading
{
  font-size: medium;
  font-weight: bold;
}

.iconContent{
  font-size: small;
}

@media (min-width: 992px) {
  .navbar-toggle {
    display: none !important; /* Hide the hamburger icon */
  }
}

.product-container {
  display: inline-block;
  /* width: calc(50% - 20px);  */
  margin: 10px;
  text-align: center;
}

